html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: medium;
    height: 100%;
    background-color: lightyellow;
    color: lightyellow;
}

a {
    color: lightyellow;
    text-decoration: underline;
  }

nav ul {
    list-style: inside none; 
    padding-left: 0px;
}

nav ul li a, nav ul li a:visited, nav ul li a:link {
    text-decoration: none;
    color: lightyellow;
}

nav ul li a:hover {
    text-decoration: underline;
    color: yellow;
}

#root {
    height: 800px;    
    background-image: url('assets/shutterstock_324476504.jpg');
    background-size: 1200px;
    background-repeat: no-repeat;    
}

#root::after {
    content: "";
    clear: both;
    display: table;
}

#menu {
    width: 120px;
    float: left;
    height: 100%;
}

#content {
    max-width: 1200px;
}

#content h1 {
    margin-top: 0px;
}

[hidden] {
    display: none !important;
  }

@media only screen and (max-width: 850px){
    html, body {
        background-color: darkolivegreen; 
    }
    #root {
        height: unset;
        background-image: none;
        background-size: inherit;
        background-repeat: initial;   
        background-color: darkolivegreen; 
    }

    #menu {
        float: none;
        height: inherit;
        border: 2px lightyellow
    }

    #menu nav ul {
        margin-top: 0px;
    }
}