<h1>Greg Vondra Thanksgiving Extravaganza</h1>
<h2>2018</h2>
<p>Who likes turkey?  Who likes dressing and potatoes, mashed of course?  Who likes beer?  You do!  I'm not asking I'm telling.  Don't get me started on PIE!</p>

<p>Thanksgiving is, of course, the greatest holiday of the year.  Stuff you're face full of food and play board games.  All on Greg's dime.  It doesn't get any better.  Unless you're Greg's dime.</p>
    
<p>Like last year, I'll be setting up the menu and sending out invitations.  My house is not the largest, so it's important for me to know how many people will be here.  If the count is not accurate, people have to sit outside, in November.</p>
    
<p>Last year, once the dishes were under control, I was wiped out.  This year, the goal is to start a round of board games after dishes.  I propose "Welcome to The Dungeon" as our game, but I'm flexible.</p>