<div style="overflow: auto; max-height: 555px;">
<h1>Menu</h1>
<p>Food is critical to Thanksgiving.  Lets break it down:</p>  
<div *ngIf="canWrite">
    <button class="btn btn-primary" type="button" routerLink="/menuItem">Add</button>
</div>
<div *ngIf="menuItems">
    <div *ngFor="let i of menuItems">
        <h3>{{ i.Title }}</h3>
        <a *ngIf="canWrite" [routerLink]="['/menuItem', i.MenuId]">edit</a>
        <div>
            <markdown-to-html markdown-to-html [data]="i.Description"></markdown-to-html>
        </div>
    </div>
</div>
<!--<div style="background-color: darkslategray">
    <h3>Turkey</h3>
    <p><a href="http://www.butterball.com/how-tos/choose-a-turkey">Butterball</a> says we need a 11 lb. turkey for 5 Adults and 2 Kids.  
    We’ll try this turkey recipe from <a href="http://www.myrecipes.com/recipe/ojai-roast-turkey-with-rosemary-lemon-garlic">myreciepes</a> again.</p>
    <h3>Dressing</h3> 
    <p>How about it Mom?</p>
    <h3>Mashed Potato</h3>
    <p>This year I have my own auto-masher!</p>
    <h3>Gravy</h3>
    <p>Mom or Jeff, this one belongs to you.</p>
    <h3>Green Bean</h3>  
    <p>French cut of course</p>
    <h3>Korn</h3>
    <h3>Fruit Salad</h3> 
    <p>Let’s try <a href="https://www.kitchentreaty.com/autumn-fruit-salad-with-cinnamon-greek-yogurt-dressing/">this one again.</a></p>
    <h3>Barley Salad</h3> 
    <p>I really like <a href="http://www.foodnetwork.com/recipes/patrick-and-gina-neely/barley-greek-salad-recipe-2107143">this one</a>.</p>
    <h3>Bread...Bread?</h3> 
    <p>How about bisquets?</p>
    <h3>Pie</h3>  
    <p>Mom?</p>
    <h3>Drink</h3> 
    <p>Lemonade, milk, champagne?, beer (keg?)</p>
</div>-->
</div>