<div style="overflow: auto; max-height: 555px;">
<h1>Menu</h1>
<p>Food is critical to Thanksgiving.  Lets break it down:</p>  
<h2>Turkey</h2>
<a href="http://www.butterball.com/how-tos/choose-a-turkey">Butterball</a> says we need a 11 lb. turkey for 5 Adults and 2 Kids.  
We’ll try this turkey recipe from <a href="http://www.myrecipes.com/recipe/ojai-roast-turkey-with-rosemary-lemon-garlic">myreciepes</a>.  

    Sounds good give it a try. - Mom

<h2>Dressing</h2> 
We still need to lookup a recipe for dressing.

    Mom’s making the dressing

<h2>Mashed Potato</h2>

<h2>Gravy</h2>
Mom’s on it, but I still think Jeff should be taking care of this.

<h2>Green Bean</h2>  
French cut of course

    I’m for french cut green beans. - Mom

<h2>Korn</h2>

<h2>Fruit Salad</h2> 
Let’s try <a href="https://www.kitchentreaty.com/autumn-fruit-salad-with-cinnamon-greek-yogurt-dressing/">this one</a>

    This sounds great. - Mom

<h2>Barley Salad</h2> 
I really like <a href="http://www.foodnetwork.com/recipes/patrick-and-gina-neely/barley-greek-salad-recipe-2107143">this one</a>, though I’m not sure if I can find the good olives any more.

    Not sure about this one.  How about something with broccoli. - Mom
Seriously? This salad is great. You can't stop it.

<h2>Bread...Bread?</h2> 
How about a naan bread? It’s good bread. 

    What kind of bread is this? - Mom
Good!  This is a dad thing isn't it?

<h2>Pie</h2>  
Mom’s on it

<h2>Drink</h2> 
Lemonade, milk, champagne?, beer (keg?)
</div>