<p style="margin-top: 0px;">Greg Vondra and <span style="font-style: italic;">The Greg Vondra Thanksgiving Extravaganza</span> are not liable for any thing.  In particular, attendees of The Greg Vondra Thanksgiving Extravaganza waive all rights to hold said extravaganze liable for any of the following:</p>
<ul style="list-style: inside circle">
  <li>Global Warming</li>
  <li>Creamy peanut butter</li>
  <li>Global Cooling</li>
  <li>Poisoning, food born or otherwise</li>
  <li>Depression</li>
  <li>Mania</li>
  <li>Death</li>
  <li>Ignorance of the General Public</li>
  <li>Zombie Turkey Uprising</li>
  <li>Katy Perry</li>
  <li>Milwaukee Brewers</li>
</ul>